@CHARSET "UTF-8";

html, body {
	margin: 0 auto;
}

.frame {
	min-width: 1000px;
}

#main {
	min-width: 1000px;
}

.main-frame {
	float: left;
}

#human {
    min-width: 600px;
	text-align: right;
}

#plan {
    min-width: 350px;
	padding-left: 50px;
	position: relative;
}

#img-human {
	width: 300px;
}

#img-question {
	position: relative;
}

#img-dialog {
	width: 200px;
}

#img-mark {
	width: 50px;
	position: absolute;
	left: 74px;
	top: 44px;
}

#plan-button {
	width: 173px;
	height: 132px;
	position: absolute;
	left: 14px;
	top: 14px;
}

#plan-button:HOVER {
	cursor: pointer;
}

#footer {
	height: 25px;
	color: gray;
	position:absolute;
	bottom:0px;
	width:100%;
	text-align:center;
	z-index:2;
	overflow:hidden;
}