@CHARSET "UTF-8";

html, body, div, form, input, textarea, p, ul, li, dl, dt, dd, h1, table, h2 {
	padding: 0 auto;
	margin: 0 auto;
}
li {
	list-style-type:none;
}
ol,ul {
	list-style:none;
}

.content {
	position: relative;
	width: 100%;
}
.wrapper {
	position: relative;
	width: 1000px;
}
.main-left {
	float: left;
	width: 600px;
}
.main-right {
	float: left;
	width: 350px;
	padding-left: 50px;
}
.img-human {
	float: right;
	width: 300px;
	height: 433px;
}
.img-human img {
	position: fixed;
	width: 300px;
}
.img-question {
	position: relative;
}
.img-dialog {
	width: 200px;
}
.img-mark {
	position: absolute;
	left: 74px;
	top: 44px;
	width: 50px;
}
.log-button {
	width: 173px;
	height: 132px;
	position: absolute;
	left: 13px;
	top: 14px;
}
.log-button:hover {
	cursor: pointer;
}
.log-content {
	width: 650px;
	height: 2000px;
	background: url("../image/line-bg.png") repeat-y 138px 0;
}

.title {
	position: absolute;
	line-height: 40px;
	padding-left: 60px;
	left: 470px;
	top: -6px;
	color: #58a6fb;
	font-size: 24px;
	background: url("../image/clock.png") no-repeat left top;
}

i {
	display: block;
	position: relative;
	height: 0;
	width: 0;
	left: 90px;
	top: -16px;
	border-width: 6px;
	border-style: solid;
	border-color: #59a7fb transparent transparent transparent;
	font-style: normal;
	color: #58a6fb;
}

a {
	text-decoration:none;
	color: #58a6fb;
}
a:hover {
	color:#F60;
	text-decoration:underline;
	text-decoration: none;
	cursor: point;
}

.highlight {
	background-image: url("../image/circle-h.png");
}

li {
	background: url("../image/circle.png") no-repeat 84px 28px;
	padding: 30px 0;
	color: #a1a4b8;
}

.cls {
	zoom: 1;
}

.date, .intro {
	color: #ec6a13;
}
.date {
	font-size: 18px;
	line-height: 32px;
	color: #bec1d5;
}
.highlight .date{
	color: #ec6a13;
}
.date, .version {
float: left;
display: block;
clear: left;
line-height: 24px;
text-align: right;
}

.intro, .more {
display: block;
margin-left: 140px;
line-height: 24px;
}

.intro {
	color: #63d029;
}
.highlight .intro{
	color: #ec6a13;
}

.year.close h2 i{
	transform:rotate(-90deg);
	-webkit-transform:rotate(-90deg);
	-moz-transform:rotate(-90deg);
	-ms-transform:rotate(-90deg);
	-o-transform:rotate(-90deg)
}
.year.close .list{
	opacity:0;
	height:0!important;
}